@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light;
}

:root.dark {
  color-scheme: dark;
}

html {
  font-family: var(--font-heebo), var(--font-inter), system-ui, -apple-system;
}

body {
  @apply bg-slate-50 text-slate-900 dark:bg-slate-950 dark:text-slate-100 antialiased;
}

.scroll-mt-header {
  scroll-margin-top: 5rem;
}
